[Desktop Entry]
Name=Configure x264vfw64
Exec=env WINEPREFIX="/run/media/steinardth/SSD_Kingston/SteamLibrary/steamapps/compatdata/429530/pfx" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\x264vfw\\\\Configure\\ x264vfw64.lnk
Type=Application
StartupNotify=true
Path=/run/media/steinardth/SSD_Kingston/SteamLibrary/steamapps/compatdata/429530/pfx/dosdevices/c:/windows/system32
Icon=DC74_x264vfw64.0
StartupWMClass=rundll32.exe
