*cache*
*Cache*
*CACHE*
*storage*
*Storage*
*STORAGE*
*log*
*Log*
*telemetry*
*Telemetry*
*UserFeedback*
*kwallet*
*ktorrent*

*logs*/
*log*/
*Logs*/
*Trash*/
*trash*/
*tmp*/
*kwallet*/
*ktorrent*/

Steam/
.zim/modules
.floorp/**/extensions
zed/
baloo/
bottles/
Daedalic Entertainment GmbH/
vulkan/
ktorrent/
icons/
Proton Mail/
places.sqlite
lutris/
Element/
OpenRGB/
watch-later/
tool-options/
unity3d/
okular/docdata
History/
pipx/
save games/
chromium/
sessionData/
.local/share/klipper/
kactivitymanager/
.local/share/gwenview/
ark/
**/REAPER/Data/
.local/share/vital/
.local/share/haruna/
.local/share/zoxide/
.local/share/recently-used.xbel
.local/share/RecentDocuments/
.local/share/jupyter/
.local/share/dolphin/
.local/share/desktop-directories/
.local/share/containers/
.local/share/ark/
.local/share/godot/
.local/share/net.lutris.Lutris/
.local/share/lf/
.local/share/okular/
.config/session/
