[Desktop Entry]
Categories=Game;
Comment=Race engineer for RaceRoom, PCars/2, rFactor/2, Le Mans Ultimate, Assetto Corsa, Assetto Corsa Competizione, Automobilista/2 and iRacing
Exec=wine '/home/steinardth/.wine/drive_c/Program Files (x86)/Britton IT Ltd/CrewChiefV4/CrewChiefV4.exe' -profile ACC
GenericName=
Icon=E00B_icon.0
MimeType=
Name=CrewChiefV4ACC
NoDisplay=false
Path=/run/media/steinardth/SSD_M2/SteamLibrary/steamapps/compatdata/805550/pfx/drive_c/Program Files (x86)/Britton IT Ltd/CrewChiefV4/
StartupNotify=true
StartupWMClass=CrewChiefV4.exe
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
