[Desktop Entry]
Categories=Multimedia,AI,LLM;
Comment[en_GB]=Download, load and query LLM models
Comment=Download, load and query LLM models
Encoding=UTF-8
Exec=/home/steinardth/Forrit/LM-Studio.AppImage
GenericName[en_GB]=LLM Local Runner
GenericName=LLM Local Runner
Icon=/usr/share/icons/lm_studio.png
Keywords=llm;ai;text generation;artificial intelligence;large language model
Name[en_GB]=LM Studio
Name=LM Studio
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-RunOnDiscreteGpu=true
X-KDE-SubstituteUID=false
X-KDE-Username=
