[Desktop Entry]
Comment=
Exec=protontricks-launch --appid 805550 PitSync.exe 'signin;' %u
Icon=/run/media/steinardth/SSD_M2/SteamLibrary/steamapps/compatdata/805550/pfx/drive_c/Program Files/The Pit Crew/PitSync/PitSyncLogo48.ico
MimeType=x-scheme-handler/pitsync;
Name=PitSync
NoDisplay=false
Path=/run/media/steinardth/SSD_M2/SteamLibrary/steamapps/compatdata/805550/pfx/drive_c/Program Files/The Pit Crew/PitSync/
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
