[Desktop Entry]
Comment=
Exec=protontricks-launch --appid 805550 TrackTitanDesktopApplication.exe %u --disable-gpu-sandbox
Icon=/run/media/steinardth/SSD_M2/SteamLibrary/steamapps/compatdata/805550/pfx/drive_c/users/steamuser/AppData/Local/Programs/track-titan-ghost-application/resources/assets/trackTitan.png
MimeType=x-scheme-handler/tracktitan-app;
Name=TrackTitan
NoDisplay=false
Path=/run/media/steinardth/SSD_M2/SteamLibrary/steamapps/compatdata/805550/pfx/drive_c/users/steamuser/AppData/Local/Programs/track-titan-ghost-application/
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
