[Desktop Entry]
Categories=Network;
Comment[en_GB]=
Comment=
Exec=vesktop %U
GenericName[en_GB]=Internet Messenger
GenericName=Internet Messenger
Icon=discord-development
Keywords=discord;vencord;electron;chat;
Name[en_GB]=Vesktop
Name=Vesktop
Path=
StartupNotify=true
StartupWMClass=Vesktop
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
MimeType=x-scheme-handler/discord;
