[Desktop Entry]
Type=Application
Name=rundll32
MimeType=application/x-wine-extension-appref-ms;
Exec=env WINEPREFIX="/run/media/steinardth/SSD_M2/SteamLibrary/steamapps/compatdata/805550/pfx" wine start /ProgIDOpen Application.Reference %f
NoDisplay=true
StartupNotify=true
Icon=5742_rundll32.0
