[Desktop Entry]
Type=Application
Name=hh
MimeType=application/vnd.ms-htmlhelp;
Exec=env WINEPREFIX="/run/media/steinardth/SSD_Kingston/SteamLibrary/steamapps/compatdata/429530/pfx" wine start /ProgIDOpen chm.file %f
NoDisplay=true
StartupNotify=true
Icon=D15F_hh.0
