[Desktop Entry]
Name=Uninstall
Exec=env WINEPREFIX="/run/media/steinardth/SSD_Kingston/SteamLibrary/steamapps/compatdata/429530/pfx" wine C:\\\\users\\\\steinardth\\\\AppData\\\\Roaming\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Falcon\\ BMS\\ 4.37\\\\Uninstall.lnk
Type=Application
StartupNotify=true
Path=/run/media/steinardth/SSD_Kingston/SteamLibrary/steamapps/compatdata/429530/pfx/dosdevices/c:/Falcon_BMS_4.37
Icon=9D31_Uninstall.0
StartupWMClass=uninstall.exe
